@import '_vars';
@import '_global';
@import '_fonts';


// start header

.header{
    background-color: #fff;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header__btn{
    padding: 4px;
    width: 75px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register,
.header__btn-logout{
    background-color: $red;
    margin-left: 7px;
}
.header__menu{
    background-color: $bg;    
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    }
    a{
        color: #fff;
        font-size: 14px;
    }
}
.header__box{
    display: flex;
    align-items: center;
}
.header__circle{
    &.active{
        display: block;
    }
    display: none;
    font-family: 'icomoon';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    &:hover::before{
        color: #263238;
    }
    span{
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        right: -7px;
        top: -7px;
        text-align: center;
        line-height: 18px;
        color: #fff;
        font-size: 11px;
    }
}
.notification{
    span{
        background-color: $yellow;
    }
}
.massage{
    span{
        background-color: $tomate;
    }
}
.basket{
    margin-right: 20px;
    span{
        background-color: $green;
    }
}
.header__btn-login--off{
    display: none;
}
.header__btn-logout{
    display: none;
    &.header__btn-login--on{
        display: block;
    }
}
.user{
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::before{
        position: absolute;
        font-family: 'icomoon';
        content: '\f105';
        font-size: 16px;
        color: #707070;
        top: 0;
        right: 0;
    }
    &__inner{
        display: flex;
        align-items: center;
    }
    &__images{
        margin-right: 15px;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 50%;
    }
    &__info{
        line-height: 24px;
        font-size: 14px;
        font-weight: 500;
    }
    &__name{
        font-family: Roboto;
        color: #222;
        
    }
    &__money{
        font-family: Roboto;
        color: $green;
        font-weight: 700;
    }
}
.user__menu{
    top: 70px;
    left: 20px;
    border: 0px solid #ccc;
    position: absolute;
    background-color: #fff;
    padding: 0;
    width: 158px;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    a{
        font-size: 12px;
        font-weight: 400;
        color: #546e7a;
        margin-bottom: 15px;
    }
}
.circle__menu{
    position: absolute;
    top: 69px;
    z-index: 1;
}
.user__box,
.basket__box,
.massage__box,
.notification__box{
    position: relative;
    margin-top: 40px;
    height: 90px;
    &:hover{
        .user__menu{
            height: auto;
            border-width: 1px;
            padding: 20px;
            overflow: auto;
        }
    }
}
.circle__menu{
    border-top: none;
    top: 63px;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: all .3s;
}
.basket__box,
.massage__box,
.notification__box{
    margin-top: 54px;
    margin-left: 15px;
    &:hover{
        .circle__menu{
            border-top: 1px solid #cccccc;
            overflow: hidden;
            height: auto;
        }
        .circle__item{
            padding: 23px;
            border-width: 1px;
        }
    }
}
.circle__item{
    background-color: #fff;
    border: 0px solid #cccccc;
    border-top: none;
    padding: 0 23px;
    transition: all .3s;
    display: flex;
    align-items: center;
    width: 269px;
    position: relative;
    &::before{
        position: absolute;
        top: 27px;
        right: 28px;
        color: #b0bec5;
        font-size: 16px;
    }

}
.circle__images{
    margin-right: 15px;
}
.circle__info-name{
    line-height: 23px;
    color: #263238;
    font-weight: 700;
}
.circle__info-thema{
    font-size: 12px;
    font-weight: 400;
    color: #84b743;
    line-height: 23px;
}
.circle__info-price{
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    line-height: 23px;
}
.circle__info-date{
    font-size: 10px;
    color: #90a4ae;
    font-weight: 400;
}
.basket__summ{
    padding: 16px 17px 12px;
    border: 1px solid #cccccc;
    border-top: none;
    background-color: #fff;
}
.basket__title{
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 22px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #263238;
    line-height: 24px;
}
.basket__btn{
    font-size: 14px;
    font-weight: 700;
    color: #f4f6f5;
    background-color: #95c85a;
    padding: 12px 5px;
    text-align: center;
    width: 100px;
}
.basket__btn-checkout{
    width: 122px;
    margin-left: 6px;
    background-color: #e85647;
}
.notification__menu,
.message__menu{
    .circle__images{
        margin-right: 20px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
    .circle__info{
        line-height: 18px;
        font-family: 'Roboto-Regular', sans-serif;
    }
}
.icons-color::before{
    color: #ef6c00;
}
.header__btn-menu,
.menu__btn{
    display: none;
}


// end header
//start modal

#modal{
    background-color: $green;
    max-width: 730px;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 100px;
}
.login__title{
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.login__wrapper{
    form{
        max-width: 400px;
        margin: 0 auto;
        
    }
    label{
        position: relative;
        display: block;
        width: 100%;
        &::before{
            position: absolute;
            font-family: 'icomoon';
            font-size: 14px;
            color: #fff;
            left: 18px;
            top: 9px;
        }
    }
    .login__label-name::before{
        content: "\f007";
    }
    .login__label-pass::before{
        content: "\f023";
    }

    input{
        height: 43px;
        margin-bottom: 8px;
        border: none;
        background-color: #76ae36;
        color: #fff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        padding-left: 40px;
        display: block;
        width: 100%;
        &::placeholder{
            color: #fff;
            font-size: 14px;
            font-weight: 400;
        }
    }
    button{
        margin-top: 19px;
        padding: 18px 42px;
        width: 140px;
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        color: #000;
        border: none;
        box-shadow: 0px 2px 2px 0px rgba(118,174,54,0.75);
    }
}
.lost-pass{
    display: block;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
}
.creat-acc{
    margin-top: 19px;
    padding: 15px 42px;
    width: 250px;
    margin-left: 5px;
    background-color: #76ae36;
    text-align: center;
    color: #fff;
    font-size: 18px;
    position: relative;
    &::before{
        position: absolute;
        font-family: 'icomoon';
        content: "\f044";
        top: 17px;
        left: 30px;
    }
}
.fancybox-button svg path{
    color: #fff;
}

// end modal
// start search

.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 530px;
}
.search__inner{
    padding: 155px 0px 100px;
    color: #fff;
    text-align: center;
    &-title{
        margin-bottom: 10px;
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
    }
    &-text{
        margin-bottom: 50px;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }
    &-form{
        max-width: 670px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124,178,64,0.75);
            border-radius: 3px;
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding: 0;
            padding-left: 25px;
            padding-right: 60px;
            &::placeholder{
                color: #90a4ae;
                font-weight: 500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 15px;
            vertical-align: middle;

        }
    }
}
.search__page{
    min-height: 230px
}
.search__inner-page{
    padding: 58px 0px 63px;
    color: #fff;
    text-align: center;
    &-text{
        margin-bottom: 50px;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }
    &-form{
        max-width: 670px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124,178,64,0.75);
            border-radius: 3px;
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding: 0;
            padding-left: 25px;
            padding-right: 60px;
            &::placeholder{
                color: #90a4ae;
                font-weight: 500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 15px;
            vertical-align: middle;

        }
    }
}

// end search
// star wrapper

.wrapper{
    background-color: #f4f6f5;
}

// end wrapper
//start breadcrumbs

.breadcrumbs{
    padding: 48px 0px 38px;
}
.breadcrumbs__list{
    li{
        display: inline;
        margin-left: 20px;
        position: relative;
        a{
            font-size: 15px;
            font-weight: 400;
            color: #b0bec5;
        }
        
        &::before{
            position: absolute;
            content: "-";
            color: #8bc34a;
            font-weight: 900;
            top: -4px;
            right: -14px;
        }
        &:last-of-type::before{
            content: none;
        }
        &:last-of-type{
            color: #263238;
        }
    }
}

//end breadcrumbs
// start products

.products{
    padding: 110px 0px;
    background-color: $grey;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color:  $red;
            color: #fff;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205,214,222,0.75);
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-image: url();
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        font-weight: 500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        display: block;
        color: $bg;
        font-weight: 500;
        font-size: 18px;
    }
    &-category{
        font-size: 14px;
        color: $green;
        display: block;
    }
    &-price{
        font-size: 20px;
        color: $bg;
        font-weight: 700;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
        span{
            font-size: 14px;
            font-weight: 500;
        }
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
    }

}
.products__bottom-btn{
    text-align: center;
    button{
        margin: 45px 5px 0px;
        box-shadow: 0px 1px 3px 0px rgba(204,216,228,0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        &.mixitup-control-active{
            background-color:  $red;
            color: #fff;
        }
    }

}

// end products
// start product-slider

.product-slider{
    padding: 110px 0px 120px;
    .slick-dots{
        text-align: center;
        margin-top: 50px;
        li{
            display: inline-block;
            margin: 0px 3px;
            &.slick-active{
                button{
                    background-color: $green;
                }
            }
            button{
                border-radius: 50%;
                border: none;
                background-color: #e8e8e8;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

// end product-slider
// start product-one

.product-one{
    padding-bottom: 100px;
}
.product-one__inner{
    display: flex;
}
.product-one__content{
    margin-right: 31px;
    max-width: 870px;
}
.product-one__images-inner{
    background-color: #fff;
    border: 1px solid #dfdfdf;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-one__images{
    max-width: 829px;
    width: 100%;
    height: 422px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-one__title{
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    color: #263238;
    margin-top: 30px;
    margin-bottom: 20px;
}
.product-one__text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 35px;
    margin-top: 20px;
}
.product-one__box{
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.product-one__link{
    a{
        max-width: 158px;
        height: 50px;
        padding: 14px 8px 18px;
        width: 150px;
        color: $grey;
        font-size: 16px;
        
        & + a{
            margin-left: 20px;
        }
    }
    
}
.link-live{
    background-color: #e74c3c;
}
.link-screenchots{
    background-color: #455a64;
}
.link-documentation{
    background-color: #8bc34a;
}
.product-one__social{
    a{
        width: 54px;
        height: 50px;
        position: relative;
        & + a{
            margin-right: 3px;
        }
        &::before{
            position: absolute;
            font-size: 18px;
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.icon-facebook{
    background-color: #6370b6;
}
.icon-twitter{
    background-color: #64b5f6;
}
.icon-linkedin{
    background-color: #4f71ce;
}
.icon-pinterest-p{
    background-color: #d32f2f;
}

.product-one__more-title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #263238;
    padding: 18px 25px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    margin-bottom: 28px;
}


.product-one__more-icons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.productmini{
    margin-bottom: 27px;
    display: flex;
    height: 90px;
    max-width: 270px;
    width: 100%;
    background-color: #fff;
    align-items: center;
    box-shadow: 0px 1px 2px 0px rgba(205,214,222,0.75);
}
.productmini__images{
    width: 100px;
    height: 90px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.productmini__name{
    font-size: 14px;
    font-weight: 500;
    color: #263238;
}
.productmini__thema{
    font-size: 12px;
    font-weight: 400;
    color: #8bc34a;
}
.productmini__price{
    font-size: 18px;
    font-weight: 700;
    color: #263238;
}
.product-one__tabs{
    margin-bottom: 55px;
}
.tabs{
    display: flex;
    text-align: center;
        .tab{
        width: 100%;
        background-color: #fff;
        border: 1px solid #d7d7d7;
        font-size: 16px;
        font-weight: 400;
        color: #70838d;
        padding: 20px 0px;
        cursor: pointer;
        & + .tab{
          border-left: 1px solid #d7d7d7;  
        }
    }
}
.tab_content{
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-top: none;
    padding: 30px 30px 50px;
}
.tab-item{
    display: none;
    &:first-child{
        display: block;
    }
}
.tab-items__list{
    font-size: 16px;
    line-height: 36px;
    font-weight: 400;
    color: #707070;
    column-count: 2;
    column-gap: 25px;
    li{
        max-width: 270px;
        width: 100%;
    }
}
.price__box{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.price__product{
    font-size: 22px;
    line-height: 40px;
    font-weight: 500;
    color: #e74c3c;
}
.product__price{
    button{
        margin-bottom: 7px;
        box-shadow: 0px 1px 2px 0px rgba(69,90,100,0.75);
        border: none;
        background-color: #546e7a;
        color: #fff;
        font-family: 'Roboto', sans-serif !important;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        display: block;
        padding: 17px 5px 15px;
        width: 100%;
        cursor: pointer;
        &::before{
            font-weight: 400;
            font-family: 'icomoon';
            padding-right: 8px;
        }
    }
    .icon-shopping-cart{
        background-color: $green;
    }
    .icon-heart-o{
        background-color: #42a5f5;
    }
}
.product-author__box{
    padding: 25px 0;
    display: flex;
}
.author__avatar{
    margin-right: 14px;
}
.author__name{
    font-size: 18px;
    color: $bg;
    margin-bottom: 2px;
}
.authorinfo__link{
    color: #707070;
    font-size: 13px;
    padding: 6px 9px 5px;
    border: 1px solid #ccc;;
}
.author__awards-list{
    li{
        display: inline-block;
        color: #fff;
        font-size: 20px;
        text-align: center;
        position: relative;
        &::before{
            position: absolute;
            top: 6px;
            left: 0;
            right: 0;
        }
        & + li{
            margin-left: 4px;
        }
    }
    .icon-meh-o{
        background-image: url(../images/awards/awards-orange.png);
        width: 34px;
        height: 37px;
    }
    .icon-envira{
        background-image: url(../images/awards/awards-red.png);
        width: 34px;
        height: 37px;
    }
    .icon-bolt{
        background-image: url(../images/awards/awards-blue.png);
        width: 34px;
        height: 37px;
    }
    .icon-foursquare{
        background-image: url(../images/awards/awards-green.png);
        width: 34px;
        height: 37px;
    }
    .icon-cny{
        background-image: url(../images/awards/awards-grey.png);
        width: 34px;
        height: 37px;
    }
}
.aside__item-sales{
    font-size: 16px;
    font-weight: 300;
    color: #707070;
    span{
        font-size: 20px;
        font-weight: 700;
        color: #263238;
        padding-right: 13px;
        &::before{
            font-size: 20px;
            color: #a6b5bb;
            content: "\f07a";
            font-family: 'icomoon';
            padding-right: 20px;
        }
    }
}
.information__line{
    font-size: 14px;
    color: #70838d;
    margin-top: 20px;
    line-height: 18px;
    span{
        color: $bg;
        font-weight: 500;
    }
}




// end product-one
//star aside

.aside__item{
    padding: 25px 30px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    margin-bottom: 30px;
}
.aside__title{
    font-size: 20px;
    font-weight: 700;
    color: #263238;
    position: relative;
    border-bottom: 1px solid #dde3e8;
    padding-bottom: 22px;
}


//end aside
// start why

.why{
    background-color: #263238;
    padding: 115px 0px 110px 0px;
}
.why__title{
    color: #fff;
}
.why__inner{
    display: flex;
    justify-content: space-between;
}
.why__item{
    margin: 79px 38px 10px;
}
.why-img-bc{
    width: 113px;
    height: 113px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    margin: 0px auto;
}
.why-img-bc-alt{
    width: 113px;
    height: 113px;
    border-radius: 50%;
    background-color: #8bc34a;
    position: relative;
    margin: 0px auto;
}
.why-img-content{
    position: absolute;
}
.why-img-content1{
    top: 20px;
    left: 30px;
}
.why-img-content2{
    top: 18px;
    left: 23px;
}
.why-img-content3{
    top: 20px;
    left: 14px;
}
.why__item-title{
    font-size: 24px;
    line-height: 60px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.why__item-title-alt{
    color: #8bc34a;
}
.why__item-content{
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #b0bec5;
}

// end why
// start author

.author{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        background-color: #8bc34a;
        max-width: 650px;
        min-height: 215px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title{
        font-size: 30px;
        line-height: 36px;
        font-weight: 400;
        color: #fff;
        margin-right: 47px;
        span{
            font-weight: 700;
        }
    }
    &__link{
        font-size: 18px;
        font-weight: 400;
        color: #263238;
        line-height: 36px;
        background-color: #fff;
        padding: 14px 42px;
    }
}

// end author
// start tutorial

.tutorial{
    padding: 60px 0px 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        width: 100%;
    }
}
.tutorial__item{
    &-images{
        max-width: 370px;
        min-height: 270px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &-title{
        font-size: 24px;
        font-weight: 700;
        color: #263238;
        line-height: 60px;
        text-align: center;
        padding: 30px 10px;
    }
}

// end tutorial
// start footer

.footer{
    background-color: $bg;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 100px 0px 80px;
    }
}
.footer__copy{
    border-top: 1px solid#424d53;
}
.footer__copy-text{
    text-align: center;
    font-size: 15px;
    line-height: 36px;
    font-weight: 400;
    color: #919699;
    padding: 25px 0px;
}
.footer__col{
    max-width: 270px;
    width: 100%;
    &-menu{
        max-width: 220px;
    }
    &-title{
        font-family: 'Raleway', sans-serif;
        line-height: 24px;
        font-weight: 700;
        font-size: 22px;
        color: #fff;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 2px;
            width: 51px;
            height: 3px;
            background-color: $green;
        }
    }
    &-text{
        font-weight: 400;
        color: #b7c3c8;
        line-height: 24px;
        margin-bottom: 30px;
    }
}
.footer__info{
    margin-top: 18px;
    color: #fff;
    padding-left: 30px;
    position: relative;
    &::before{
        position: absolute;
        left: 0;
        font-family: 'icomoon';
        content: '\f041';
        color: $green;
        font-size: 18px;
    }
}
.footer__info-phone{
    &::before{
        content: '\f095';
    }

}
.footer__col-list{
    a{
        margin-bottom: 12px;
        color: #b7c3c8;
        padding-left: 22px;
        position: relative;
        &::before{
            content: '\f105';
            position: absolute;
            color: $green;
            left: 0px;
            font-size: 18px;
            font-family: 'icomoon';
        }
    }
}
.footer__social-link{
    margin-bottom: 33px;
    li{
        display: inline-block;
        & + li{
            margin-left: 7px;
        }
    }
    a{
        width: 28px;
        height: 28px;
        background-image: url(../images/content/css_sprites.png);
    }
}
.link-facebook{
    background-position: -28px -0;
}
.link-twitter{
    background-position: -0 -28px;
}
.link-youtube{
    background-position: -28px -28px;
}
.link-pinterests{
    background-position: -56px -0;
}
.footer__form-title{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 36px;
}
.footer__form{
    position: relative;
    input{
        border: none;
        background-color: #2f3c43;
        display: block;
        width: 100%;
        height: 40px;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        line-height: 36px;
        border-style: solid;
        border-image-source: linear-gradient(180.0deg, #000000 0%, #263238 100%);
        border-image-slice: 1;
        background-origin: border-box;
        background-clip: content-box, border-box;
        border-width: 1px;
        &::placeholder{
            color: #697378;
            padding-left: 13px;
            padding-right: 50px;
        }
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $green;
        height: 40px;
        width: 43px;
        cursor: pointer;
        &::before{
            content: '\f124';
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            line-height: 36px;
            top: 0;
            left: 10px;
        }
    }
}

// end footer

@import '_media';