@import '_vars';
@import '_global';
@import '_fonts';


// start header

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header__btn{
    padding: 4px;
    width: 75px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register,
.header__btn-logout{
    background-color: $red;
    margin-left: 7px;
}
.header__menu{
    background-color: $bg;    
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    }
    a{
        color: #fff;
        font-size: 14px;
    }
}
.header__box{
    display: flex;
    align-items: center;
}
.header__circle{
    &.active{
        display: block;
    }
    display: none;
    font-family: 'icomoon';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    & + .header__circle{
        margin-left: 15px;
    }
    span{
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        right: -7px;
        top: -7px;
        text-align: center;
        line-height: 18px;
        color: #fff;
        font-size: 11px;
    }
}
.notification{
    span{
        background-color: $yellow;
    }
}
.massage{
    span{
    background-color: $tomate;
    }
}
.basket{
    span{
    background-color: $green;
    }
}
.header__btn-login--off{
    display: none;
}
.header__btn-logout{
    display: none;
    &.header__btn-login--on{
        display: block;
    }
}
.user{
    margin-left: 20px;
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::before{
        position: absolute;
        font-family: 'icomoon';
        content: '\f105';
        font-size: 16px;
        color: #707070;
        top: 0;
        right: 0;
    }
    &__inner{
        display: flex;
        align-items: center;
    }
    &__images{
        margin-right: 15px;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 50%;
    }
    &__info{
        line-height: 24px;
        font-size: 14px;
        font-weight: 500;
    }
    &__name{
        font-family: Roboto;
        color: #222;
        
    }
    &__money{
        font-family: Roboto;
        color: $green;
        font-weight: 700;
    }
}

// end header
// start search

.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 530px;
}
.search__inner{
    padding: 155px 0px 100px;
    color: #fff;
    text-align: center;
    &-title{
        margin-bottom: 10px;
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
    }
    &-text{
        margin-bottom: 50px;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }
    &-form{
        max-width: 670px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124,178,64,0.75);
            border-radius: 3px;
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding: 0;
            padding-left: 25px;
            padding-right: 60px;
            &::placeholder{
                color: #90a4ae;
                font-weight: 500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 15px;
            vertical-align: middle;

        }
    }
}

// end search
// start products

.products{
    padding: 110px 0px;
    background-color: $grey;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color:  $red;
            color: #fff;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205,214,222,0.75);
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-image: url();
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        font-weight: 500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        display: block;
        color: $bg;
        font-weight: 500;
        font-size: 18px;
    }
    &-category{
        font-size: 14px;
        color: $green;
        display: block;
    }
    &-price{
        font-size: 20px;
        color: $bg;
        font-weight: 700;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
        span{
            font-size: 14px;
            font-weight: 500;
        }
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
    }

}
.products__bottom-btn{
    text-align: center;
    button{
        margin: 45px 5px 0px;
        box-shadow: 0px 1px 3px 0px rgba(204,216,228,0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        &.mixitup-control-active{
            background-color:  $red;
            color: #fff;
        }
    }

}

// end products
// start product-slider

.product-slider{
    padding: 110px 0px 120px;
    .slick-dots{
        text-align: center;
        margin-top: 50px;
        li{
            display: inline-block;
            margin: 0px 3px;
            &.slick-active{
                button{
                    background-color: $green;
                }
            }
            button{
                border-radius: 50%;
                border: none;
                background-color: #e8e8e8;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

// end product-slider
// start why

.why{
    background-color: #263238;
    padding: 115px 0px 110px 0px;
}
.why__title{
    color: #fff;
}
.why__inner{
    display: flex;
    justify-content: space-between;
}
.why__item{
    margin: 79px 38px 10px;
}
.why-img-bc{
    width: 113px;
    height: 113px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    margin: 0px auto;
}
.why-img-bc-alt{
    width: 113px;
    height: 113px;
    border-radius: 50%;
    background-color: #8bc34a;
    position: relative;
    margin: 0px auto;
}
.why-img-content{
    position: absolute;
}
.why-img-content1{
    top: 20px;
    left: 30px;
}
.why-img-content2{
    top: 18px;
    left: 23px;
}
.why-img-content3{
    top: 20px;
    left: 14px;
}
.why__item-title{
    font-size: 24px;
    line-height: 60px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.why__item-title-alt{
    color: #8bc34a;
}
.why__item-content{
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #b0bec5;
}

// end why
// start author

.author{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        background-color: #8bc34a;
        max-width: 650px;
        min-height: 215px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title{
        font-size: 30px;
        line-height: 36px;
        font-weight: 400;
        color: #fff;
        margin-right: 47px;
        span{
            font-weight: 700;
        }
    }
    &__link{
        font-size: 18px;
        font-weight: 400;
        color: #263238;
        line-height: 36px;
        background-color: #fff;
        padding: 14px 42px;
    }
}

// end author
// start tutorial

.tutorial{
    padding: 60px 0px 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        width: 100%;
    }
}
.tutorial__item{
    &-images{
        max-width: 370px;
        min-height: 270px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &-title{
        font-size: 24px;
        font-weight: 700;
        color: #263238;
        line-height: 60px;
        text-align: center;
        padding: 30px 10px;
    }
}

// end tutorial
// start footer

.footer{
    background-color: $bg;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 100px 0px 80px;
    }
}
.footer__copy{
    border-top: 1px solid#424d53;
}
.footer__copy-text{
    text-align: center;
    font-size: 15px;
    line-height: 36px;
    font-weight: 400;
    color: #919699;
    padding: 25px 0px;
}
.footer__col{
    max-width: 270px;
    width: 100%;
    &-menu{
        max-width: 220px;
    }
    &-title{
        font-family: 'Raleway', sans-serif;
        line-height: 24px;
        font-weight: 700;
        font-size: 22px;
        color: #fff;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 2px;
            width: 51px;
            height: 3px;
            background-color: $green;
        }
    }
    &-text{
        font-weight: 400;
        color: #b7c3c8;
        line-height: 24px;
        margin-bottom: 30px;
    }
}
.footer__info{
    margin-top: 18px;
    color: #fff;
    padding-left: 30px;
    position: relative;
    &::before{
        position: absolute;
        left: 0;
        font-family: 'icomoon';
        content: '\f041';
        color: $green;
        font-size: 18px;
    }
}
.footer__info-phone{
    &::before{
        content: '\f095';
    }

}
.footer__col-list{
    a{
        margin-bottom: 12px;
        color: #b7c3c8;
        padding-left: 22px;
        position: relative;
        &::before{
            content: '\f105';
            position: absolute;
            color: $green;
            left: 0px;
            font-size: 18px;
            font-family: 'icomoon';
        }
    }
}
.footer__social-link{
    margin-bottom: 33px;
    li{
        display: inline-block;
        & + li{
            margin-left: 7px;
        }
    }
    a{
        width: 28px;
        height: 28px;
        background-image: url(../images/content/css_sprites.png);
    }
}
.link-facebook{
    background-position: -28px -0;
}
.link-twitter{
    background-position: -0 -28px;
}
.link-youtube{
    background-position: -28px -28px;
}
.link-pinterests{
    background-position: -56px -0;
}
.footer__form-title{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 36px;
}
.footer__form{
    position: relative;
    input{
        border: none;
        background-color: #2f3c43;
        display: block;
        width: 100%;
        height: 40px;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        line-height: 36px;
        border-style: solid;
        border-image-source: linear-gradient(180.0deg, #000000 0%, #263238 100%);
        border-image-slice: 1;
        background-origin: border-box;
        background-clip: content-box, border-box;
        border-width: 1px;
        &::placeholder{
            color: #697378;
            padding-left: 13px;
            padding-right: 50px;
        }
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $green;
        height: 40px;
        width: 43px;
        cursor: pointer;
        &::before{
            content: '\f124';
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            line-height: 36px;
            top: 0;
            left: 10px;
        }
    }
}


// end footer